/* :root {
  --color-primary: #fff;
  /* --color-secondary: #004e92; 
  --color-secondary: #333333;
  --color-tertiary: #d6212a;
  --color-forth: #333;
  --bg-primary: #fff;
  --scrollbar: #dadada;
  --gradient-primary: linear-gradient(to top left, #02aab0, #00cdac);
}
*/
body {
  --color-primary: #fff;
  --color-secondary: #333333;
  --color-tertiary: #d6212a;
  --color-forth: #004e92;
  --bg-primary: #fff;
  --scrollbar: #dadada;
  --gradient-primary: linear-gradient(to top left, #02aab0, #00cdac);

  /*  fix colors*/
  --color-f-one: #fff;
}
body.dark-theme {
  --color-primary: rgb(24, 24, 24);
  --color-secondary: #ffffff;
  --color-tertiary: #c2c2c2;
  --color-forth: #004e92;
  --bg-primary: rgb(59, 59, 59);
  --scrollbar: #646464;
  --gradient-primary: linear-gradient(to top left, #0f0f0f, #202020);

  /*  fix colors*/
  --color-f-one: #fff;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --color-primary: rgb(24, 24, 24);
    --color-secondary: #ffffff;
    --color-tertiary: #c2c2c2;
    --color-forth: rgb(223, 223, 223);
    --color-f-one: #fff;
    --bg-primary: rgb(29, 29, 29);
    --scrollbar: #333333;
    --gradient-primary: linear-gradient(to top left, #0f0f0f, #202020);
  }
  body.light-theme {
    --color-primary: #fff;
    --color-secondary: #333333;
    --color-tertiary: #d6212a;
    --color-forth: #333;
    --color-f-one: #fff;
    --bg-primary: #fff;
    --scrollbar: #dadada;
    --gradient-primary: linear-gradient(to top left, #02aab0, #00cdac);
  }
}

body {
  background: var(--gradient-primary);
  font-size: 1rem;
  font-family: Vazirmatn, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
* {
  font-family: Vazirmatn, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
input,
select {
  font-family: inherit;
  color: var(--color-secondary);
  background: var(--bg-primary);
}

header {
  margin-top: 2.5rem;
  color: var(--color-f-one);
  font-size: 3rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  gap: 25px;
}
.cat-select-list {
  background-color: var(--bg-primary);
  padding: 0.5rem 1.5rem;
  width: 180px;
  border-radius: 7px;
  border: none;
  transition: 0.5s;
  height: 40px;
}
.cat-box {
  height: 40px;
}
.cat-container {
  transition: 1s all;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.f-n-cat-i {
  width: 180px;
  height: 39px;
  padding: 0.5rem 1.5rem;
  border-radius: 7px;
  border: none;
  transition: 0.5s;
  outline: none;
}

.main-box {
  background: var(--bg-primary);
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;

  -webkit-box-shadow: 0px 15px 38px -7px #00000070,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 15px 38px -7px #00000070, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.tasks-lists {
  overflow: auto;
}
.tasks-lists::-webkit-scrollbar {
  width: 7px;
}

.tasks-lists::-webkit-scrollbar-track {
  border-radius: 10px;
}

.tasks-lists::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scrollbar);
}
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  user-select: none;
}
.tab {
  transition: 0.5s all;
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: var(--scrollbar);
  cursor: pointer;
  -webkit-box-shadow: inset 0px -20px 16px -20px rgb(0 0 0 / 40%);
  box-shadow: inset 0px -20px 16px -20px rgb(0 0 0 / 40%);
}
.tab-active {
  background: var(--bg-primary);
  box-shadow: none;
}
.hidden {
  display: none;
}
.btn {
  background: var(--color-forth);
  width: 50px;
  height: 50px;
  border: none;
  font-size: 25px;
  border-radius: 50%;
  color: var(--color-f-one);
  /* box-shadow: 0 0 20px 0px #ffb0035e; */
  cursor: pointer;
}
.control-btns {
  position: relative;
  top: -45px;
  transition: 0.5s all;
}
.f-l {
  font-family: inherit;
  color: var(--color-secondary);
  margin-right: 10px;
  vertical-align: top;
}
.f-n-task,
.f-e-task {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.f-section {
  padding: 10px;
  display: flex;
  align-items: baseline;
}
.f-n-task-i {
  border: none;
  border-bottom: 1px solid;
  border-color: var(--color-secondary);
  outline: none;
}
.f-n-task-s {
  padding: 0.9rem 2rem;
  color: var(--color-f-one);
  background: var(--gradient-primary);
  border: none !important;
  font-size: 1rem;
}
.f-n-task-b {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.f-e-task-del {
  background: none;
  font-weight: 300;
  padding: 0.5rem 2rem;
  text-align: center;
  border: none;
  font-size: 0.9rem;
  color: var(--color-tertiary);
  cursor: pointer;
}
.f-des {
  outline: none;
  margin-top: 7px;
}
.f-c {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  font-size: 2rem;
  color: var(--color-secondary);
  cursor: pointer;
  border: none;
  background: none;
}
.f-n-cat-b {
  background: none;
  border: none;
  font-size: 2rem;
  vertical-align: middle;
  color: var(--color-f-one);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.btn-cancel {
  transition: 0.5s ease-in-out;
  transform: rotateZ(45deg);
}

.task-box {
  margin: 20px 20px 00px 20;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1rem;
  color: var(--color-secondary);
  align-items: baseline;
  border-bottom: 1px solid var(--scrollbar);
}
.task-box:last-child {
  border-bottom: none;
}
.task-title {
  flex-grow: 2;
}
.task-date {
  font-size: 0.9rem;
}
.task-done-date {
  font-size: 0.8rem;
  color: #333;
}
.tab-count {
  font-size: 0.8rem;
  color: var(--color-secondary);
}
.btn-theme {
  opacity: 0;
  position: absolute;
}

.label {
  width: 40;
  height: 14px;
  background-color: var(--color-forth);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.1);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: var(--color-f-one);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.btn-theme:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}
.theme-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
}
