body {
  --color-primary: rgba(255, 255, 255, 0.87);
  --color-primary-light: rgba(255, 255, 255, 0.5);
  --color-secondary: #1e88e5;
  --color-secondary-light: rgba(31, 137, 229, 0.3);
  --color-red: #ef5350;
  --color-gray: #646464;

  --bg-primary: #121212;
  --bg-secondary: #272727;
  --bg-light: rgb(250, 250, 250, 0.1);
  --bg-red: rgba(239, 83, 80, 0.3);

  --shadow-primary: rgba(0, 0, 0, 1);
}
body.light-theme {
  --color-primary: #3d3d3d;
  --color-primary-light: rgba(61, 61, 61, 0.6);
  --color-red: #e53935;

  --color-gray: #dadada;

  --color-fix-primary: #fff;

  --bg-primary: #fff;
  --bg-secondary: #fff;
  --bg-light: rgba(31, 137, 229, 0.1);
  --bg-red: rgba(239, 83, 80, 0.1);

  --shadow-primary: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: light) {
  /* defaults to dark theme */
  body {
    --color-primary: #3d3d3d;
    --color-primary-light: rgba(61, 61, 61, 0.6);
    --color-red: #e53935;

    --color-gray: #dadada;

    --color-fix-primary: #fff;

    --bg-primary: #fff;
    --bg-secondary: #fff;
    --bg-light: rgba(31, 137, 229, 0.1);
    --bg-red: rgba(239, 83, 80, 0.1);

    --shadow-primary: rgba(0, 0, 0, 0.2);
  }
  body.dark-theme {
    --color-primary: rgba(255, 255, 255, 0.87);
    --color-primary-light: rgba(255, 255, 255, 0.5);
    --color-secondary: #1e88e5;
    --color-secondary-light: rgba(31, 137, 229, 0.3);
    --color-red: #ef5350;
    --color-gray: #646464;

    --bg-primary: #121212;
    --bg-secondary: #272727;
    --bg-light: rgb(250, 250, 250, 0.1);
    --bg-red: rgba(239, 83, 80, 0.3);

    --shadow-primary: rgba(0, 0, 0, 1);
  }
}

body {
  background: var(--bg-primary);
  font-size: 1rem;
  font-family: Vazirmatn, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
* {
  -webkit-tap-highlight-color: transparent;
  font-family: Vazirmatn, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
input,
select {
  font-family: inherit;
  color: var(--color-primary);
  background: var(--bg-secondary);
}

header {
  margin: 2.5rem 0px 1rem;
  color: var(--color-secondary);
  font-size: 3rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  user-select: none;
}

.container {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  gap: 25px;
}
.cat-select-list {
  background-color: var(--bg-secondary);
  padding: 0.5rem 0.6rem;
  width: 140px;
  border-radius: 7px;
  outline: 1px solid var(--color-secondary);
  border: 1px solid transparent;
  border-right: 4px solid transparent;
  height: 40px;
}
.cat-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.f-n-cat-i {
  width: 150px;
  height: 40px;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid transparent;
  border-right: 4px solid transparent;
  outline: 1px solid var(--color-secondary);
}
.f-search-i {
  width: 200px;
  height: 40px;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid transparent;
  border-right: 4px solid transparent;
  outline: 1px solid var(--color-secondary);
}

.main-box {
  background: var(--bg-secondary);
  width: 100%;
  height: 340px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
  margin-top: -26px;
}
.max-height {
  height: 400px;
}
.tasks-lists {
  overflow: auto;
}
.tasks-lists::-webkit-scrollbar {
  width: 16px;
  border-radius: 10px;
}

.tasks-lists::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-color: var(--color-gray);
  border-radius: 10px;
  background-clip: padding-box;
}
.tabs {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  user-select: none;
  border-radius: 10px 10px 0 0;
  background: none;
}
.tab {
  width: 30%;
  transition: 0.5s opacity;
  border-radius: inherit;
  padding: 20px;
  border: 1px solid var(--color-secondary);
  border-bottom: none;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  opacity: 0.3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.tab-done {
  color: green;
}
.tab-undone {
  color: var(--color-primary);
}
.tab-active {
  background: var(--bg-secondary);
  border: 1px solid var(--color-secondary);
  border-bottom: none;
  opacity: 1;
}
.hidden {
  display: none;
}
.btn {
  background: var(--color-secondary);
  margin: 0 5px;
  padding: 0.5rem 0.8rem;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  color: var(--color-fix-primary);
  -webkit-box-shadow: 0 4px 10px var(--shadow-primary);
  box-shadow: 0 4px 10px var(--shadow-primary);
  cursor: pointer;
}
.control-btns {
  position: relative;
  top: -45px;
  margin-bottom: -15px;
}
.f-l {
  font-family: inherit;
  color: var(--color-secondary);
  vertical-align: top;
}
.box-n-task,
.box-e-task {
  height: 100%;
  margin: 0.8rem;
}
.f-n-task,
.f-e-task {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.f-section {
  padding: 9px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.f-section:last-child {
  padding-bottom: 0px;
}
.f-n-task-i {
  border: none;
  border-bottom: 1px solid;
  border-color: var(--color-primary);
  outline: none;
}
.f-n-task-s {
  padding: 0.9rem 2rem;
  color: var(--color-fix-primary);
  background: var(--color-secondary);
  border: none !important;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}
.f-n-task-b {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.f-e-task-del {
  background: none;
  font-weight: 300;
  padding: 0.5rem 2rem;
  text-align: center;
  border: none;
  font-size: 0.9rem;
  color: var(--color-red);
  cursor: pointer;
}
.f-des {
  outline: none;
  margin-top: 7px;
}
.f-c {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-primary);
  cursor: pointer;
  border: none;
  background: none;
}
.f-n-cat-b {
  background: none;
  border: none;
  font-size: 1rem;
  vertical-align: middle;
  color: var(--color-secondary);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin-left: 1rem;
  /* margin-right: 0.3rem; */
}
.f-n-cat-b-plus {
  transition: 0.5s ease-in-out;
}
.f-n-cat-b-label {
  color: var(--color-secondary);
  font-size: 0.9rem;
  font-family: Vazirmatn, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
.btn-cancel {
  transition: 0.5s ease-in-out;
  transform: rotateZ(45deg);
}

.task-box {
  margin: 20px 20px 00px 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1rem;
  color: var(--color-primary);
  align-items: flex-end;
  border-bottom: 1px solid var(--color-gray);
}
.task-box:last-child {
  border-bottom: none;
}
.task-title {
  flex-grow: 2;
}
.task-date {
  font-size: 0.9rem;
  color: var(--color-primary-light);
}
.task-done-date {
  font-size: 0.8rem;
  color: var(--color-primary);
}
.tab-count {
  margin-left: 10px;
  font-size: 0.8rem;
  color: var(--color-primary);
}

.theme-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
}
.f-n-task-rep,
.f-e-task-rep {
  margin-left: 10px;
  padding: 0.5rem 0.8rem;
  font-weight: 300;
  font-size: 0.9rem;
  border-radius: 50px;
  color: var(--color-primary);
  cursor: pointer;
  user-select: none;
  background: var(--bg-light);
}
.f-n-task-i-rep,
.f-e-task-i-rep {
  width: 40px;
  overflow: hidden;
  text-align: center;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--color-primary);
}
.f-e-select-period,
.f-n-select-period {
  text-align: center;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--color-primary);
}
.task-late {
  font-size: 0.8rem;
  color: var(--color-red);
  background-color: var(--bg-red);
  padding: 0.3rem 0.6rem 0.2rem;
  border-radius: 50px;
}

input[type="date"] {
  position: relative;
  appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  appearance: none;
  color: transparent;
  background: none;
  z-index: 1;
}
input[type="date"]:before {
  background: none;
  display: block;
  font-family: "Font Awesome 5 Pro";
  content: "\f133";
  width: 15px;
  height: 20px;
  position: absolute;

  right: 6px;
  color: var(--color-primary);
}
.fa-moon,
.fa-sun {
  color: var(--color-secondary);
}
.no-task {
  margin: 2rem 0;
  text-align: center;
  color: var(--color-primary-light);
}
@media only screen and (max-width: 600px) {
  body {
    width: 90%;
    margin: 0 auto;
  }
  header {
    margin: 1.5rem 0px;
    font-size: 2rem;
  }
  .container {
    height: 85%;
  }
  .main-box {
    height: 80%;
  }
  .max-height {
    height: 90%;
  }
}
