/*------------------------------------*\
  # Theme colors
\*------------------------------------*/
body {
  --color-primary: rgba(255, 255, 255, 0.87);
  --color-primary-light: rgba(255, 255, 255, 0.5);
  --color-secondary: #1e88e5;
  --color-secondary-light: rgba(31, 137, 229, 0.3);
  --color-red: #ef5350;
  --color-gray: #646464;

  --bg-primary: #121212;
  --bg-secondary: #272727;
  --bg-light: rgb(250, 250, 250, 0.1);
  --bg-red: rgba(239, 83, 80, 0.3);

  --shadow-primary: rgba(0, 0, 0, 1);
}
body.light-theme {
  --color-primary: #3d3d3d;
  --color-primary-light: rgba(61, 61, 61, 0.6);
  --color-red: #e53935;

  --color-gray: #dadada;

  --color-fix-primary: #fff;

  --bg-primary: #fff;
  --bg-secondary: #fff;
  --bg-light: rgba(31, 137, 229, 0.1);
  --bg-red: rgba(239, 83, 80, 0.1);

  --shadow-primary: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: light) {
  /* defaults to dark theme */
  body {
    --color-primary: #3d3d3d;
    --color-primary-light: rgba(61, 61, 61, 0.6);
    --color-red: #e53935;

    --color-gray: #dadada;

    --color-fix-primary: #fff;

    --bg-primary: #fff;
    --bg-secondary: #fff;
    --bg-light: rgba(31, 137, 229, 0.1);
    --bg-red: rgba(239, 83, 80, 0.1);

    --shadow-primary: rgba(0, 0, 0, 0.2);
  }
  body.dark-theme {
    --color-primary: rgba(255, 255, 255, 0.87);
    --color-primary-light: rgba(255, 255, 255, 0.5);
    --color-secondary: #1e88e5;
    --color-secondary-light: rgba(31, 137, 229, 0.3);
    --color-red: #ef5350;
    --color-gray: #646464;

    --bg-primary: #121212;
    --bg-secondary: #272727;
    --bg-light: rgb(250, 250, 250, 0.1);
    --bg-red: rgba(239, 83, 80, 0.3);

    --shadow-primary: rgba(0, 0, 0, 1);
  }
}

/*------------------------------------*\
  # Main Section
\*------------------------------------*/
body {
  background: var(--bg-primary);
  font-size: 1rem;
  font-family: Vazirmatn, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  display: flex;
  flex-direction: column;
}
* {
  -webkit-tap-highlight-color: transparent;
  font-family: Vazirmatn, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  user-select: none;
}
input,
select {
  font-family: inherit;
  color: var(--color-primary);
  background: var(--bg-secondary);
}

header {
  padding: 2.5rem 0px 1rem;
  color: var(--color-secondary);
  font-size: 3rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  user-select: none;
}

.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  gap: 20px;
}
.hidden {
  display: none !important;
}

/*------------------------------------*\
  # Theme toggle section
\*------------------------------------*/
.fa-moon,
.fa-sun {
  color: var(--color-secondary);
}
.button--theme-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
}

/*------------------------------------*\
  # Category Section
\*------------------------------------*/

.box--cat {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.select--category {
  background-color: var(--bg-secondary);
  padding: 0.5rem 0.6rem;
  width: 140px;
  border-radius: 7px;
  outline: 1px solid var(--color-secondary);
  border: 1px solid transparent;
  border-right: 4px solid transparent;
  height: 40px;
}
.button--category-add {
  transition: 0.5s ease-in-out;
}
.button--category {
  background: none;
  border: none;
  font-size: 1rem;
  vertical-align: middle;
  color: var(--color-secondary);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin-left: 1rem;
}
.rotate-z {
  transition: 0.5s ease-in-out;
  transform: rotateZ(45deg);
}
.input--category-title {
  width: 150px;
  height: 40px;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid transparent;
  border-right: 4px solid transparent;
  outline: 1px solid var(--color-secondary);
}

/*------------------------------------*\
  # Search Section
\*------------------------------------*/

.form--search {
  position: relative;
  width: 200px;
}
.input--search {
  width: 170px;
  height: 40px;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid transparent;
  border-right: 4px solid transparent;
  outline: 1px solid var(--color-secondary);
}

/*------------------------------------*\
  # tabs Section
\*------------------------------------*/
.tabs__section {
  background: var(--bg-secondary);
  /* width: 100%; */
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
  margin-top: -1px;
}
.max-height {
  height: 400px;
}
.tabs {
  width: 100%;

  height: 100%;
}
.tabs__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  user-select: none;
  border-radius: 10px 10px 0 0;
  background: none;
}
.tabs__item {
  width: 25%;
  transition: 0.5s opacity;
  border-radius: inherit;
  padding: 20px;
  border: 1px solid var(--color-secondary);
  border-bottom: none;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  opacity: 0.3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.tabs--done {
  color: green;
}
.tabs--undone {
  color: var(--color-primary);
}
.tabs--active {
  background: var(--bg-secondary);
  border: 1px solid var(--color-secondary);
  border-bottom: none;
  opacity: 1;
}
.tabs__body {
  height: 100%;
  /* margin: 0.8rem; */
}
.tabs--count {
  margin-left: 10px;
  font-size: 0.8rem;
  color: var(--color-primary);
}

/*------------------------------------*\
  # tasks lists section
\*------------------------------------*/
.tabs__body--tasks-lists {
  overflow: auto;
}
.tabs__body--tasks-lists::-webkit-scrollbar {
  width: 16px;
  border-radius: 10px;
}
.tabs__body--tasks-lists::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-color: var(--color-gray);
  border-radius: 10px;
  background-clip: padding-box;
}
.message--no-task {
  margin: 2rem 0;
  text-align: center;
  color: var(--color-primary-light);
}

/*------------------------------------*\
  # chechbox section
\*------------------------------------*/
.checkbox__body {
  margin: 20px 20px 00px 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1rem;
  color: var(--color-primary);
  align-items: flex-end;
  border-bottom: 1px solid var(--color-gray);
}
.checkbox__body:last-child {
  border-bottom: none;
}
.checkbox__label-title {
  flex-grow: 2;
}
.checkbox__label-date {
  font-size: 0.9rem;
  color: var(--color-primary-light);
}
.checkbox__label-late {
  font-size: 0.8rem;
  color: var(--color-red);
  background-color: var(--bg-red);
  padding: 0.3rem 0.6rem 0.2rem;
  border-radius: 50px;
}
/*------------------------------------*\
  # Buttons section
\*------------------------------------*/
.button {
  background: var(--color-secondary);
  margin: 0 5px;
  padding: 0.5rem 0.8rem;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  color: var(--color-fix-primary);
  -webkit-box-shadow: 0 4px 10px var(--shadow-primary);
  box-shadow: 0 4px 10px var(--shadow-primary);
  cursor: pointer;
}
.buttons {
  padding-bottom: 2rem;
}

/*------------------------------------*\
  # Task form regular
\*------------------------------------*/
.form__label {
  font-family: inherit;
  color: var(--color-secondary);
  vertical-align: top;
}
.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
}
.form__field {
  padding: 9px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.form__field:last-child {
  padding-bottom: 0px;
}
.button--save {
  padding: 0.9rem 2rem;
  color: var(--color-fix-primary);
  background: var(--color-secondary);
  border: none !important;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}
.input {
  border: none;
  border-bottom: 1px solid;
  border-color: var(--color-primary);
  outline: none;
}
.input--des {
  outline: none;
  margin-top: 7px;
}
.input--repeat-count {
  width: 40px;
  overflow: hidden;
  text-align: center;
}
.button--close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-primary);
  cursor: pointer;
  border: none;
  background: none;
}
.field--btns {
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttom--rep {
  margin-left: 10px;
  padding: 0.5rem 0.8rem;
  font-weight: 300;
  font-size: 0.9rem;
  border-radius: 50px;
  color: var(--color-primary);
  cursor: pointer;
  user-select: none;
  background: var(--bg-light);
}
.select--period {
  text-align: center;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--color-primary);
}
input[type="date"] {
  position: relative;
  appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  appearance: none;
  color: transparent;
  background: none;
  z-index: 1;
}
input[type="date"]:before {
  background: none;
  display: block;
  font-family: "Font Awesome 5 Pro";
  content: "\f133";
  width: 15px;
  height: 20px;
  position: absolute;
  right: 6px;
  color: var(--color-primary);
}
/*------------------------------------*\
  # Edit section
\*------------------------------------*/

.button--edit-del {
  background: none;
  font-weight: 300;
  padding: 0.5rem 2rem;
  text-align: center;
  border: none;
  font-size: 0.9rem;
  color: var(--color-red);
  cursor: pointer;
}
.form__label--done-date {
  font-size: 0.8rem;
  color: var(--color-primary);
}

/*------------------------------------*\
  # Message section
\*------------------------------------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 15;
}
.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background-color: white;
  padding: 1rem 2rem 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 20;
  font-size: 0.9rem;
}
.button--message-close {
  top: 1rem;
  right: 1rem;
}
.message__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fa-exclamation-triangle {
  font-size: 2rem;
  margin: 1rem 0 1.5rem;
  color: var(--color-red);
  vertical-align: text-bottom;
}
.message__body--text {
  color: var(--color-primary);
}

/*------------------------------------*\
  # Mobile view
\*------------------------------------*/

@media only screen and (max-width: 600px) {
  body {
    width: 95%;
    margin: 0 auto;
  }
  header {
    padding: 1.5rem 0px;
    font-size: 2rem;
  }
  .container {
    /* height: 85%; */
    width: 90%;
  }
  .tabs__section {
    height: 20rem;
  }
  .max-height {
    height: 25rem;
  }
}
